tensorflow
torch
torchvision
jupyter
jupyter_contrib_nbextensions
ipykernel
pandas
torch
matplotlib
sklearn
gym
pygame
matplotlib
wikipedia-api
pandas
seaborn
datasets
sacremoses
sentencepiece
mixture_of_experts
sentencepiece
transformers
deepspeed